/* .navbar-brand {
    width : 40px;
    height:auto;
} */
.liste {
	background-image: url("/img/pexels-miguel-á-padriñán-255379.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.favoris {
	background-image: url("/img/pexels-miguel-á-padriñán-255379.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
